<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# RewriteEngine On

# RewriteCond %{HTTP_HOST} ^(www\.)?oresamsub\.com$ [NC]

# # Do not rewrite existing project paths
# RewriteCond %{REQUEST_URI} !^/oresamsub\.com/public/ [NC]

# # Do not rewrite real files/directories
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^(.*)$ /oresamsub.com/public/$1 [L]

# # Root domain
# RewriteCond %{HTTP_HOST} ^(www\.)?oresamsub\.com$ [NC]
# RewriteRule ^$ /oresamsub.com/public/index.php [L]